.about {
  height: 949px;
  padding: 80px 0;
  overflow: hidden;
}
.about_title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  color: var(--blue);
  margin-bottom: 32px;
}
.about_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.about_wrapper ::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -16px;
  width: 766px;
  height: 100%;
  max-height: 342px;
  border: 10px solid rgba(24, 125, 241, 0.1);
  z-index: 3;
}
.about_wrapper-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.about_wrapper-text p {
  max-width: 568px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--black);
}
.about_wrapper-text p:first-child,
.about_wrapper-text p:last-child {
  font-weight: 600;
}
@media screen and (min-width: 746px) {
  .about_wrapper ::before {
    display: none;
  }
  .about_second-container {
    max-width: 960px;
    margin: 0 auto;
  }
  .about_title {
    margin-bottom: none;
  }
  .about_wrapper {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: end;
    align-items: center;
    gap: unset;
  }

  .about_wrapper-text {
    position: absolute;
    bottom: -50px;
    left: 0;
    max-width: 467px;
    width: 100%;
    height: 448px;
    display: flex;
    padding: 20px 40px 20px 24px;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
    background: var(--background-about);
  }
  .about_img {
    width: 427px;
    height: 440px;
  }
  .about_wrapper-text p {
    width: 438px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-top: 65px;
    padding-bottom: 120px;
  }
  .about_second-container {
    padding: 0;
  }
  .about_wrapper {
    height: auto;
    max-width: unset;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: unset;
    justify-content: end;
    align-items: center;
    gap: unset;
  }
  .about_wrapper-text {
    position: absolute;
    top: 40px;
    left: -20px;
    max-width: 580px;
    width: 100%;
    height: 432px;
    display: flex;
    padding: 32px 118px 24px 32px;
    flex-direction: column;
    gap: 16px;
    margin-left: 48px;
    z-index: 1;
    background: var(--background-about);
  }
  .about_img {
    width: 528px;
    height: 504px;
  }
  .about_wrapper-text p {
    width: 438px;
  }
}
