.car {
  padding-top: 120px;
  padding-bottom: 120px;
}
.car_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 41px;
}
.car_wrapper h2 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  color: var(--blue);
}
.car_wrapper-sub {
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.car_list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.car-card {
  max-width: 344px;
  width: 100%;
  padding: 4px;
  border: 0.5px solid var(--black);
  border-radius: 5px;
}
.car_info {
  position: relative;
  padding: 12px;
}
.car_info-subtex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.car_info-subwrapper {
  display: flex;
  gap: 56px;
}
.car_info-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 8px;
}
.car_info-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--grey);
  max-width: 312px;
  width: 100px;
}
.text-color {
  color: var(--black);
}
.car_info-price {
  font-weight: 500;
  font-size: 16px;
  color: var(--orange);
  margin-bottom: 16px;
}
.car_list-btn {
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  padding: 16px 49px;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 3px 10px 1px rgba(198, 82, 2, 0.44);
  background: var(--orange);
  margin-top: 32px;
  cursor: pointer;
}
.car_info-article {
  position: absolute;
  bottom: 16px;
  right: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--black);
  opacity: 0.2;
}
.car_more-btn {
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  border-radius: 25px;
  width: 194px;
  height: 64px;
  border: none;
  box-shadow: 2px 3px 10px 1px rgba(7, 64, 129, 0.55);
  background: var(--blue);
}
.car_img {
  max-width: 336px;
  width: 100%;
  height: 220px;
  border-radius: 5px;
}
.car_fillter-wrapper {
  position: relative;
}
.car_fillter-wrapper,
.car_fillter-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car_fillter {
  position: absolute;
  top: 0;
  right: 0;
  border: 0.5px solid var(--blue);
  border-radius: 10px;
  background: var(--background-checkbox);
  width: 249px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  overflow: hidden;
  z-index: 2;
}
.fillter-icon {
  width: 24px;
  height: 24px;
  fill: var(--grey);
}
.fillter-icon-arrow {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: var(--black);
}
.car_checkbox {
  display: none;
  justify-content: center;
  align-items: center;
}
.car_fillter-text,
.filter_btn-box,
.car_checkbox-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter_btn-box,
.car_checkbox,
.car_checkbox-list {
  flex-direction: column;
}
.car_checkbox-list {
  gap: 8px;
}
.filter_btn-box {
  margin-top: 22px;
  gap: 16px;
}
.btn {
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
  width: 217px;
  height: 48px;
}
.fillter_ok-btn {
  color: var(--white);
  box-shadow: 2px 3px 10px 1px rgba(124, 123, 137, 0.55);
  background: var(--grey);
  border: none;
}
.fillter_clear-btn {
  color: var(--blue);
  border: 0.5px solid var(--blue);
  background: #fff;
}
