.contact {
  width: 100%;
  background: var(--black-bgrnd);
  padding-top: 32px;
  padding-bottom: 39px;
}
.contact_title {
  font-weight: 600;
  font-size: 28px;
  color: var(--white);
  margin-bottom: 32px;
}
.contact_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
}
.contact_list {
  width: 297px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact_list li {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}
.contact_icon-wraper {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.contact-icon {
  width: 32px;
  height: 32px;
  fill: var(--black);
}
.contact_item-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
  margin-bottom: 8px;
}
.contact_list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--white);
  transition: all 300ms ease;
  cursor: pointer;
  word-break: break-word;
}
.contact_list-link:hover {
  color: var(--orange);
}
.contact_form-wrapper {
  width: 100%;
  max-width: 484px;
  height: 481px;
  background: var(--white);
  padding: 32px 16px 40px 16px;
}
.contact_form-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 32px;
}
.contact_span-working {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--white);
}
.contact_working-time {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--white);
}
.contact_working-closed {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--orange);
}
.contact_form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.contact_form input {
  border: none;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--grey);
  background: none;
  outline: none;
}
.contact_form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--grey);
}
.contact_form-btn {
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  border-radius: 25px;
  width: 156px;
  height: 56px;
  box-shadow: 2px 3px 10px 1px rgba(198, 82, 2, 0.44);
  background: var(--orange);
  border: none;
  margin-top: 32px;
  cursor: pointer;
  transition: all 300ms ease;
}
.contact_form-btn:hover {
  background: var(--orange-hover);
  scale: 1.1;
}
.contact_form-btn.disabled {
  pointer-events: none;
  opacity: 0.2;
}

@media screen and (min-width: 746px) {
  .contact {
    padding-top: 48px;
    padding-bottom: 56px;
  }
  .contact_title {
    font-size: 32px;
    margin-bottom: 48px;
  }
  .contact_list {
    width: 100%;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;
    gap: 57px;
  }
  .contact_list li {
    width: 297px;
  }
  .contact_form-wrapper {
    padding: 32px 24px 40px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    background: #020d18;
    padding-top: 48px;
    padding-bottom: 56px;
  }
  .contact_wrapper {
    display: flex;
    flex-direction: unset;
    gap: 255px;
  }
  .contact_list {
    width: 297px;
    flex-direction: column;
    gap: 32px;
  }

  .contact_form-wrapper {
    height: 488px;
    padding: 32px 92px 48px 32px;
  }
  .contact_form {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  .contact_form-btn {
    margin-left: 48px;
  }
}
