@import url(./CSS/admin.css);
@import url(./CSS/header.css);
@import url(./CSS/hero.css);
@import url(./CSS/about.css);
@import url(./CSS/map.css);
@import url(./CSS/choose.css);
@import url(./CSS/car.css);
@import url(./CSS/contact.css);
@import url(./CSS/footer.css);

:root {
  --black: #000c1f;
  --orange: #fe6800;
  --blue: #187df1;
  --blue-hover: #4795ee;
  --white: #f7fafd;
  --grey: #7c7b89;
  --white-500: rgba(234, 248, 255, 0.6);

  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "SF Pro Text", sans-serif;
  --font3: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  min-width: 320px;
  max-width: 1080px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}
