@import url(./CSS/admin.css);
@import url(./CSS/header.css);
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  min-width: 320px;
  max-width: 1240px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}
